// ***START: Imported JavaScript snippet to establish allowable client ip addresses***
var clientIPs = ["127.0.0.1", "192.168.56.160", "192.168.56.101", "192.168.56.102", "192.168.56.103", "192.168.56.109"];
// ***END: Imported JavaScript snippet to establish allowable client ip addresses***

