centralit:192.168.56.160 centralit.vagrant.dev centralit
dbnode1:192.168.56.101 dbnode1.vagrant.dev dbnode1
dbnode2:192.168.56.102 dbnode2.vagrant.dev dbnode2
dbnode3:192.168.56.103 dbnode3.vagrant.dev dbnode3
client:192.168.56.109 client.vagrant.dev client

